In [3]:
import pandas as pd
import datetime as dt
import numpy as np

In [4]:
def get_data(nrows=None):
    data = pd.read_csv('https://data.cityofnewyork.us/resource/hhsa-x92p.csv', nrows=nrows, parse_dates=[['CRASH DATE', 'CRASH TIME']])
    data.dropna(subset=['LATITUDE', 'LONGITUDE'], inplace=True)
    data.rename(lambda x: str(x).lower(), axis='columns', inplace=True)
    data.rename(columns={'crash date_crash time': 'date_time'}, inplace=True)
    #data['time'] = data['date_time'].dt.time
    data.reset_index(inplace=True, drop=True)
    return data

In [5]:
df=get_data(1000)

In [7]:
df.head()

,date_time,borough,zip code,latitude,longitude,location,on street name,cross street name,off street name,number of persons injured,...,contributing factor vehicle 2,contributing factor vehicle 3,contributing factor vehicle 4,contributing factor vehicle 5,collision_id,vehicle type code 1,vehicle type code 2,vehicle type code 3,vehicle type code 4,vehicle type code 5
0,2020-10-26 14:43:00,BROOKLYN,11236.0,40.638890,-73.91204,"(40.63889, -73.91204)",EAST 84 STREET,GLENWOOD ROAD,NaN,0,...,Unspecified,NaN,NaN,NaN,4361473,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
1,2020-10-26 09:00:00,NaN,NaN,40.671566,-73.79031,"(40.671566, -73.79031)",148 STREET,NaN,NaN,0,...,NaN,NaN,NaN,NaN,4361515,Sedan,NaN,NaN,NaN,NaN
2,2020-10-26 04:30:00,STATEN ISLAND,10310.0,40.635250,-74.12633,"(40.63525, -74.12633)",CLOVE ROAD,DEGROOT PLACE,NaN,0,...,Unspecified,NaN,NaN,NaN,4361572,Sedan,Sedan,NaN,NaN,NaN
3,2020-10-26 12:53:00,NaN,NaN,40.790840,-73.97457,"(40.79084, -73.97457)",WEST 90 STREET,NaN,NaN,0,...,Unspecified,NaN,NaN,NaN,4361384,Sedan,Sedan,NaN,NaN,NaN
4,2020-10-26 18:00:00,QUEENS,11432.0,40.712494,-73.78447,"(40.712494, -73.78447)",179 STREET,HILLSIDE AVENUE,NaN,1,...,Unspecified,NaN,NaN,NaN,4361735,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [9]:
injured_people=2
time=[dt.time(12, 00), dt.time(20, 00)]
date=[df['date_time'].dt.date.min(), df['date_time'].dt.date.max()]

In [12]:
df_filtred = df[
    (df['date_time'].dt.time >= time[0])
    & (df['date_time'].dt.time <= time[1])
    & (df['date_time'].dt.date >= date[0])
    & (df['date_time'].dt.date <= date[1])]\
    .query('`number of persons injured` >= @injured_people')